POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=audio_transcript_db

QDRANT_TAG=latest
POSTGRES_TAG=16
WHISPER_TAG=latest
OLLAMA_TAG=latest

WHISPER_MODEL=large-v3-turbo
WHISPER_MODEL_QUANTIZATION=q4_0

LLM_MODEL=dolphin-mistral:7b
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_MODEL_DIM=768

LOG_LEVEL=debug
FAST_INGEST_MODE=true
DEACTIVATE_LLM=true
FILE_CLEAN_UP=300