
# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=audio_transcript_db

# Image Versions
QDRANT_TAG=latest
POSTGRES_TAG=16
WHISPER_TAG=latest
OLLAMA_TAG=latest

# Whisper
WHISPER_MODEL=large-v3-turbo
WHISPER_MODEL_QUANTIZATION=q4_0
WHISPER_REPLICAS=1
# Each whisper instance is about 1 GB VRAM + 500 mb buffer for loaded audio files = 1.5gb per Instance
# IT also needs gpu processing power try out what works on your maschine

# Ollama
LLM_MODEL=dolphin-mistral:7b
EMBEDDING_MODEL=nomic-embed-text-v2-moe
# nomic-embed-text-v2-moe = 1.5GB vram
EMBEDDING_MODEL_DIM=768

# Own Services
LOG_LEVEL=debug
DEACTIVATE_LLM=false
FILE_CLEAN_UP_AFTER_SEC=300